@font-face {
  font-family: "LandingFont";
  src: url("https://framerusercontent.com/assets/GAjzysSaNI3ppMJh36ocNclO8.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}